# Node.js dependencies
node_modules/
npm-debug.log
yarn-error.log

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Environment variables
.env

# IDE files
.vscode/
.idea/

# Temporary files
*.tmp
*.swp
*.swo

# Build output
dist/
build/

# Ignorar las carpetas generadas por paquetes de bundling
coverage/
config.json
